.ion-item-style{
    // --ion-item-background:#f5f3ed;
    --ion-item-background:#f0f0f0;
    // --border-color: #baaea3;
    // --border-width: 0.5px;
    --border-radius: 13px;
  
    color: #000
  }