<ion-header>
    <ion-toolbar color="secondary" mode="ios">
      <ion-title>Transaksi Hari Ini</ion-title>
      <ion-button slot="start" fill="clear" color="light" (click)="close()">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" color="light" (click)="toClosing()">
        <ion-icon style="font-size: 18pt" name="list" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <ion-list *ngFor="let item of allitem" style="padding-bottom: 5px;">
    <ion-item detail lines="full" style="padding-left: 15px; padding-right:15px;" class="ion-item-style" (click)="toDetail(item)">
      <ion-label>
        <ion-label style="font-size: 14pt">Rp {{item.totalbelanja| number}}</ion-label>
        <p>Order No. {{item.InvoiceID}} </p>
        <p>Tanggal: {{item.tanggal}} : {{item.waktu}} </p>
        
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
