ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity: 0;
}

// ion-content{
//     // --ion-background-color: #E1EAF9;
// }

ion-card{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

.card {
    background-color: transparent;
    // height: 30%;
    margin: 0%;
  }

.signin-btns{
    margin-top: 25px;
    text-align: center;
    color: #F0F4FA;
}

// .sign-btn-wrap{
//     text-align: center;
//     padding-top: 20px;
//     .sign-btn{
//         --ion-primary-color:#009cff;
//         color: #F4F6FA;
//     }
// }

.sign-btn{
    --ion-primary-color:#009cff;
    color: #F4F6FA;
}

.loginbtn{
    --ion-color-primary: #009cff; 
}

.wrapform{
    margin-top: 30px;
}

.card-header{
    text-align: center;
    font-size: 40px;
    // font-family: 'Open Sans';
}

.grid1 {
    height: 100%;
    padding: 0px;
}

.contaier-login {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.contaier-login2 {
    width: 90%;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}


// .row1 {
//     height: 50%;
//     background: -moz-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
//     background: -webkit-linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
//     background: linear-gradient(45deg, rgba(61, 66, 150, 1) 0%, rgba(84, 74, 171, 0.8) 100%);
// }

.row1 {
    height: 50%;
    background: -moz-linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
    background: linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
}

.row2 {
    height: 50%;
}

.rowperson {
    height: 50%;
    background: transparent;
}

ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: 0px !important;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
 }


 ion-content{
    //  --background: linear-gradient(0deg, rgba(123,123,123,0.7), rgba(123,123,123,0.1)),
    //  url("/assets/background.jpg"),  no-repeat 100% 100%; 
    //  --background: url("/assets/BACKGROUND6.jpg") 0 0/100% 50% no-repeat;
    // --ion-background-color:#7a6663;
    // background: -moz-linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
    // background: -webkit-linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
    // background: linear-gradient(45deg, rgba(122, 102, 99, 1) 0%, rgba(186, 174, 163, 0.8) 100%);
    --background: linear-gradient(45deg,#5b4243, #e4e2dc);
 }

.login-section{
    height: 65vh;
    width: 100%;
    max-width: 500px;
    background: #fff;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed; 
    margin: auto;
    border-top-left-radius: 46px;
    border-top-right-radius: 46px;
    // --background: url("/assets/BACKGROUND3.jpg") 0 0/100% 100% no-repeat;
    // background-image: url("/assets/BACKGROUND6.jpg");
    background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url("/assets/BACKGROUND6.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .heading{
        // margin-top: 20px;
        h1{
            font-size:2.8rem;
            font-weight: 100;
            font-family: 'Greycliff'
        }
        p{
            margin-top: 20px;
            font-size: 1rem;
            color:#7b7b7b
        }
    }
    // .login-form{
    //     .form-input{
    //         position: relative;
    //         margin-bottom: 10px;
    //         ion-item::part(native){
    //             padding-left: 0;
    //         }

    //         ion-icon{
    //             position: absolute;
    //             top:37px;
    //             z-index: 2; 
    //             font-size:1.5rem;
    //             left: 5px; 
    //         }
    //         ion-label{
    //             position: absolute;
    //             margin-left: 45px;
    //             font-weight: bolder;
    //             font: size 0.8rem;
    //             top:15px;
    //         }
    //         ion-input{
    //             font-size: 1.2rem;
    //             --padding-start:45px;
    //             --padding-top:50px;
    //             color:#7b7b7b;

    //         }
    //     }
    // }

    .action-buttons{
        text-align: center;
        .login-button{
            --background: #9a8a83;
            width: 100%; 
            font-weight: bold;
        }
    }

    .ion-input-style{
        background: #e3e2e2;
        // border: solid 1px rgba(218,218,218,1);
        margin-bottom: 16px;
        height: 50px;
        border-radius: 20px;
        padding-left: 16px;
        margin-top:15px;
        margin-bottom:40px;
        max-height: 60px;
        height: 60px;
        font-size:14pt;
    }

    // .ion-item-style{
    //     border-radius: 50px 20px 30px 10px;
    // }

    .ion-icon-style{
        font-size: 1.3rem;
        padding-left: 25px;
    }
}

// .logo-icon{
    
// }