<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-item-sliding *ngFor="let item of listData; let i = index">
        <ion-item class="ion-text-wrap">
          <ion-label>
            <p style="font-size: 15pt; padding-bottom: 5px; color: black" class="ion-text-wrap">{{item.nama}}</p>
          </ion-label>
          <ion-label slot="end">
            Rp {{ item.harga | number }}
          </ion-label>
        </ion-item>
          
        <ion-item-options side="end">
            <ion-item-option (click)="editItem(item)" color="success">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
          <ion-item-option (click)="removeItem(item)" color="danger">
            <ion-icon name="trash" slot="icon-only"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      
    
  </ion-list>
<!-- 
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddMenu()" color="secondary">
      <ion-icon name="add"> </ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
