
<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center" style="padding: 10px">
      Transaksi
    </ion-title>
    <!-- <ion-button slot="end" fill="clear" color="light" (click)="refresh()">
      <ion-icon name="refresh-outline" slot="icon-only"></ion-icon>
    </ion-button> -->
    
    <!-- <div padding style="background-color:#9a8a83">
      <ion-segment [scrollable]="true">
        <ion-segment-button *ngFor="let item of kategori; let i = index" value={{item.namakategori}} (click)="SelectedKategori(item)">
          {{item.namakategori}}
        </ion-segment-button>
      </ion-segment>
    </div> -->
    <div padding style="background-color:#9a8a83">
      <ion-segment [scrollable]="true" color="light">
        <ion-segment-button *ngFor="let item of kategori; let i = index" value={{item.namakategori}} (click)="SelectedKategori(item)" style="color: lightgray">
          {{item.namakategori}}
        </ion-segment-button>
      </ion-segment>
    </div>
  </ion-toolbar>
  <!-- <div padding style="background-color:#9a8a83">
    <ion-segment [scrollable]="true" color="light">
      <ion-segment-button *ngFor="let item of kategori; let i = index" value={{item.namakategori}} (click)="SelectedKategori(item)" style="color: lightgray">
        {{item.namakategori}}
      </ion-segment-button>
    </ion-segment>
  </div> -->
  
</ion-header>

<ion-content [fullscreen]="true" >
    <!-- <ion-fab vertical="bottom" horizontal="center" translucent="true" slot="fixed">
      <ion-fab-button (click)="openCart()">
        <div class="cart-length">{{ cartItemCount | async }}</div>
        <ion-icon name="cart" class="cart-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab> -->

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Transaksi</ion-title>
    </ion-toolbar>

    
  </ion-header>

  

  <!-- <ion-searchbar [debounce]="100" placeholder="Cari" show-clear-button="focus">
  </ion-searchbar> -->
  
  <!-- <div class="ion-text-center" style="padding-bottom:70px" >
      
    <ion-card class="ion-text-center" id="menuitem" *ngFor="let item of products">
        <ion-fab size="small">
          <ion-fab-button size="small" color="danger" class="fab-horizontal-center">
            <span>{{item.stock}}</span>
          </ion-fab-button>
        </ion-fab>

      <img *ngIf="item.imageUrl != ''" [src]="item.imageUrl" />
      <img *ngIf="item.imageUrl == '' " src="../assets/LOGO DESSERTIE KOSONG.jpg"/>
      <ion-card-header class="ion-no-padding">
        <ion-card-title style="font-size: 13pt; height: 40px;">{{item.nama}}</ion-card-title>
        <ion-card-subtitle>Rp {{item.harga | number}}</ion-card-subtitle>
      </ion-card-header>
  
      <ion-button *ngIf="item.amount == 0" color="secondary" shape="round" fill="outline" (click)="addToCart(item)" [disabled]="item.stock == 0">Add</ion-button>
      <ion-list *ngIf="item.amount != 0">
        <ion-icon class="icondecrease" name="remove-circle-outline" (click)="decreaseCartItem(item)"></ion-icon>
        <ion-text style="font-size: 15pt" class="inputbg">{{item.amount}}</ion-text>
        <ion-icon class="iconincrease" name="add-circle-outline" (click)="increaseCartItem(item)"></ion-icon>
      </ion-list>
    </ion-card>
  </div> -->
<!-- <div class="ion-text-center">
  <ion-list>
    <ion-item *ngFor="let item of products">
      {{item.nama}}
      <ion-button *ngIf="item.amount == 0" color="secondary" shape="round" fill="outline" (click)="addToCart(item)" [disabled]="item.stock == 0">Add</ion-button>
      <ion-list *ngIf="item.amount != 0">
        <ion-icon class="icondecrease" name="remove-circle-outline" (click)="decreaseCartItem(item)"></ion-icon>
        <ion-text style="font-size: 15pt" class="inputbg">{{item.amount}}</ion-text>
        <ion-icon class="iconincrease" name="add-circle-outline" (click)="increaseCartItem(item)"></ion-icon>
      </ion-list>
    </ion-item>
  </ion-list>
</div> -->


<div style="padding-bottom:70px" >
    <div class="grid-container" *ngFor="let item of products">

        <div class="grid-child purple">
          <ion-item class="ion-text-wrap" lines="none">
            <ion-label>
              <p style="font-size: 15pt; padding-bottom: 5px; color: black" class="ion-text-wrap">{{item.nama}}</p>
              <p style="font-size: 12pt; padding-bottom: 5px; color: black">
                Rp {{ item.harga | number }}
              </p>
              <p style="font-size: 12pt; padding-bottom: 5px; color: black">
                Stock {{ item.stock | number }} pcs
              </p>
            </ion-label>
      
          </ion-item>
        </div>
      
        <div class="grid-child green" style="margin:auto">
            <ion-button *ngIf="item.amount == 0" color="secondary" shape="round" fill="outline" (click)="addToCart(item)" [disabled]="item.stock == 0">Add</ion-button>
            <ion-list *ngIf="item.amount != 0">
              <ion-icon class="icondecrease" name="remove-circle-outline" (click)="decreaseCartItem(item)"></ion-icon>
              <ion-text style="font-size: 15pt" class="inputbg">{{item.amount}}</ion-text>
              <ion-icon class="iconincrease" name="add-circle-outline" (click)="increaseCartItem(item)"></ion-icon>
            </ion-list>
        </div>
      
      </div>
</div>





<!-- <ion-item class="ion-text-wrap" *ngFor="let item of products">
  <ion-label>
    <p style="font-size: 15pt; padding-bottom: 5px; color: black" class="ion-text-wrap">{{item.nama}}</p>
    <p style="font-size: 12pt; padding-bottom: 5px; color: black">
      Rp {{ item.harga | number }}
    </p>
    <p style="font-size: 12pt; padding-bottom: 5px; color: black">
      Stock {{ item.stock | number }} pcs
    </p>
  </ion-label>

</ion-item> -->
 

</ion-content>

<ion-footer class="ion-no-border">
  
  <!-- <ion-grid>
    <ion-row>
      <ion-col style="text-align: center">
        <ion-button color="secondary" shape="round" expand="full" (click)=openCart()>
          <ion-icon slot="end" name="cart"></ion-icon>
          <ion-text slot="start">
            {{cartItemCount | async}} item
          </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-footer>