<ion-header style="background-color: white">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Laporan
    </ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
        <ion-card-subtitle>Total Pendapatan {{selectedtimeline}}</ion-card-subtitle>

      <ion-card-title style="font-size: 16pt; font-family:LatoBold">Rp {{totalpendapatan | number}}</ion-card-title>
    </ion-card-header>
  </ion-card>
<!-- <h1 class="title">Report Chart</h1> -->

<div style="color: black;">
  <apx-chart
    [chart]="barOptions.chart"
    [series]="barOptions.series"
    [labels]="barOptions.labels"
    [grid]="barOptions.grid"
    [xaxis]="barOptions.xaxis"
    [yaxis]="barOptions.yaxis"
    [title]="barOptions.title"
    [legend]="barOptions.legend"
    [dataLabels]="barOptions.dataLabels"
    [colors]="barOptions.colors"
    [plotOptions]="barOptions.plotOptions"
    [theme]="barOptions.theme"


  ></apx-chart>
</div>


<ion-item lines="none">
  <ion-label style="font-size: 16pt; font-family: LatoBold">Transaksi</ion-label>
   <!--<ion-select [(ngModel)]="selectedtimeline" interface="popover" placeholder="Pilih Periode" (ionChange)="getData()">
    <ion-select-option value="Bulan Ini">Bulan Ini</ion-select-option>
    <ion-select-option value="Tahun Ini">Tahun Ini</ion-select-option>
  </ion-select> -->
  <ion-button slot="end" id="popover-button" fill="clear" color="dark">
    <ion-icon name="filter" slot="icon-only"></ion-icon>
</ion-button>
<ion-popover trigger="popover-button" [dismissOnSelect]="true">
  <ng-template>
    <ion-content>
      <ion-list>
        <!-- <ion-item [button]="true" [detail]="false" (click)="setFilter('Hari ini')">Hari ini</ion-item> -->
        <ion-item [button]="true" [detail]="false" (click)="getData('Bulan Ini')">Bulan ini</ion-item>
        <ion-item [button]="true" [detail]="false" (click)="getData('Tahun Ini')">Tahun ini</ion-item>

        <ion-item [button]="true" [detail]="false" id="nested-trigger2">Pilih Bulan</ion-item>
        <ion-popover trigger="nested-trigger2" side="left">
          <ng-template>
            <ion-datetime [(ngModel)]="tmpselectedMonth"  [showDefaultButtons]="true" locale="id-ID" id="datetime" presentation="month-year" (ionChange)="getData('Pilih Bulan')">
            </ion-datetime>
          </ng-template>
        </ion-popover>

        <ion-item [button]="true" [detail]="false" id="nested-trigger3">Pilih Tahun</ion-item>
        <ion-popover trigger="nested-trigger3" side="top">
          <ng-template>
            <ion-datetime [(ngModel)]="tmpselectedYear" [showDefaultButtons]="true" locale="id-ID" id="datetime" presentation="year" (ionChange)="getData('Pilih Tahun')">
            </ion-datetime>
          </ng-template>
        </ion-popover>

       

      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
</ion-item>
</ion-header>

<ion-content [fullscreen]="true" >


  <!-- <div class="box box3">
    <apx-chart
      [chart]="areaOptions.chart"
      [series]="areaOptions.series"
      [stroke]="areaOptions.stroke"
      [xaxis]="areaOptions.xaxis"
      [title]="areaOptions.title"
      [subtitle]="areaOptions.subtitle"
      [fill]="areaOptions.fill"
      [tooltip]="areaOptions.tooltip"
      [colors]="areaOptions.colors"
    ></apx-chart>
  </div> -->
<!-- 
  <div class="box box2" *ngIf="transaksi">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [labels]="chartOptions.labels"
      [grid]="chartOptions.grid"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
    ></apx-chart>
  </div> -->
  
<!-- 
  <ion-button (click)="exporttoexcel()">
      export to excel
    </ion-button> -->

<div style="margin-bottom:70px" *ngIf="grandtotal[0] != 0"> 
  <ion-list *ngFor="let item of transaksibulanini" style="padding-bottom: 5px;" >
    <ion-item detail lines="none" style="padding-left: 15px; padding-right:15px;" class="ion-item-style" (click)="pilihtransaksi(item)">
      <ion-label>
        <h1>Rp {{item.grandtotal| number}}</h1>
        <p *ngIf="selectedtimeline == 'Bulan Ini' || selectedtimeline == 'Pilih Bulan' ">Tanggal: {{item.tanggal}} </p>
        <p *ngIf="selectedtimeline == 'Tahun Ini' || selectedtimeline == 'Pilih Tahun' ">Bulan: {{item.tanggal}} </p>

      </ion-label>
    </ion-item>
  </ion-list>
</div>





  <!-- 
  <div *ngIf="dataFinal.length > 0">
    <ion-card *ngFor="let item of transaksibulanini">
      <ion-card-header>
        <ion-card-title style="font-size: 20pt; font-family:LatoBold">
          Rp {{item.grandtotal | number}}
        </ion-card-title>
        <ion-card-subtitle>Order ID: {{item.TransaksiID}} </ion-card-subtitle>
        <ion-icon className="center-right" name="chevron-forward-outline"></ion-icon> 
        <ion-icon color="primary" style="float:right" name="arrow-back"></ion-icon>

      </ion-card-header>

    </ion-card>

  </div> -->
</ion-content>
