<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">
      Laporan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

    <ion-card>
      <ion-card-header>
          <ion-card-subtitle>Total Pendapatan</ion-card-subtitle>

        <ion-card-title style="font-size: 20pt; font-family:LatoBold">Rp 5.000.000</ion-card-title>
      </ion-card-header>
    </ion-card>
  <!-- <h1 class="title">Report Chart</h1> -->
  <div>
    <apx-chart
      [chart]="barOptions.chart"
      [series]="barOptions.series"
      [labels]="barOptions.labels"
      [grid]="barOptions.grid"
      [xaxis]="barOptions.xaxis"
      [yaxis]="barOptions.yaxis"
      [title]="barOptions.title"
      [legend]="barOptions.legend"
      [dataLabels]="barOptions.dataLabels"
      [colors]="barOptions.colors"

    ></apx-chart>
  </div>
  <!-- <div class="box box3">
    <apx-chart
      [chart]="areaOptions.chart"
      [series]="areaOptions.series"
      [stroke]="areaOptions.stroke"
      [xaxis]="areaOptions.xaxis"
      [title]="areaOptions.title"
      [subtitle]="areaOptions.subtitle"
      [fill]="areaOptions.fill"
      [tooltip]="areaOptions.tooltip"
      [colors]="areaOptions.colors"
    ></apx-chart>
  </div> -->
<!-- 
  <div class="box box2" *ngIf="transaksi">
    <apx-chart
      [chart]="chartOptions.chart"
      [series]="chartOptions.series"
      [labels]="chartOptions.labels"
      [grid]="chartOptions.grid"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [title]="chartOptions.title"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
    ></apx-chart>
  </div> -->

  <ion-item>
    <ion-label style="font-size: 16pt; font-family: LatoBold">Transaksi</ion-label>
    <ion-select [(ngModel)]="selectedtimeline" interface="popover" placeholder="Pilih Periode" (ionChange)="getData()">
      <ion-select-option value="Bulan Ini">Bulan Ini</ion-select-option>
      <ion-select-option value="Tahun Ini">Tahun Ini</ion-select-option>
      <!-- <ion-select-option value="bananas">Bananas</ion-select-option> -->
    </ion-select>
  </ion-item>
<!-- 
  <div *ngIf="dataFinal.length > 0">
    <ion-card *ngFor="let item of transaksibulanini">
      <ion-card-header>
        <ion-card-title style="font-size: 20pt; font-family:LatoBold">
          Rp {{item.grandtotal | number}}
        </ion-card-title>
        <ion-card-subtitle>Order ID: {{item.TransaksiID}} </ion-card-subtitle>
        <ion-icon className="center-right" name="chevron-forward-outline"></ion-icon> 
        <ion-icon color="primary" style="float:right" name="arrow-back"></ion-icon>

      </ion-card-header>

    </ion-card>

  </div> -->

  <ion-list *ngFor="let item of transaksibulanini">
      <ion-item detail lines="none"  style="padding-left: 20px; padding-right: 20px; background-color: white">
        <ion-label>
          <h1>Rp {{item.grandtotal| number}}</h1>
          <p>Tanggal: {{item.tanggal}} </p>
        </ion-label>    
      </ion-item>
    </ion-list>
  
</ion-content>
