  
.iconincrease {
    display: inline-block;
    font-size: 35px;
    color: #Ff8600;
    vertical-align: middle;
}
  
.icondecrease{
    display: inline-block;
    font-size: 35px;
    color: #Ff8600;
    vertical-align: middle;
}

.inputbg{
    width: 30px;
    font-size: 15pt;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #000000
}
    