  
.iconincrease {
    display: inline-block;
    font-size: 30px;
    color: #baaea3;
    vertical-align: middle;
}
  
.icondecrease{
    display: inline-block;
    font-size: 30px;
    color: #baaea3;
    vertical-align: middle;
}

.inputbg{
    width: 40px;
    font-size: 13pt;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #000000
}
    
.center {
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.fixedLabel {
    min-width: 30% !important;
    max-width: 30% !important;
}