<ion-header>
  <ion-toolbar mode="ios" color="secondary">
    <ion-title>Ganti Password</ion-title>
    <ion-button slot="start" fill="clear" color="light" (click)="close()">
      <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <!-- <ion-item lines="none" class="ion-text-center">
      <ion-label style="font-size: 14pt">
        Masukkan Password Baru
      </ion-label>
    </ion-item> -->
    <div style="margin-top:5%">

    </div>
    <form [formGroup]="credentials" (ngSubmit)="gantiPassword()">
      <ion-item class="ion-margin-bottom" fill="outline">
        <ion-label position="floating" style="color: grey">Password Baru</ion-label>
        <ion-input type="password" formControlName="password1" class="inputStyle"></ion-input>
        <!-- <ion-note slot="error" *ngIf="harga?.errors?.['required'] && submitted == true">Masukan harga</ion-note> -->
      </ion-item>
    
      <ion-item class="ion-margin-bottom" fill="outline">
        <ion-label position="floating" style="color: grey">Ulangi Password</ion-label>
        <ion-input type="password" formControlName="password2" class="inputStyle"></ion-input>
        <!-- <ion-note slot="error" *ngIf="harga?.errors?.['required'] && submitted == true">Masukan harga</ion-note> -->
      </ion-item>
    </form>
    
  </div>

</ion-content>

<ion-footer class="ion-no-border ion-padding">
  <ion-button type="submit" expand="block" (click)="gantiPassword()" color="secondary" shape="round">Update</ion-button>
</ion-footer>